extends ../layouts/main.pug

block styles 
    link(rel="stylesheet", href="/css/form.css")

block content 
    main 
        form(action=editing ? "/edit-course" : "/add-course" method="POST")
            .form-control
                label(for="name") Name 
                input(type="text" name="name" value=(editing && course.name))#name
                
                label(for="duration") Duration 
                input(type="number" name="duration" step="0.01" value=(editing && course.duration))#duration

                label(for="image") Image 
                input(type="text" name="image" value=(editing && course.image))#image

                label(for="rating") Rating
                input(type="number" name="rating" step="0.01" value=(editing && course.rating))#rating

                label(for="price") Price 
                input(type="number" name="price" step="0.01" value=(editing && course.price))#price

                if editing
                    input(type="hidden" name="courseId" value=course.id)
                    button.btn(type="submit") Update Course
                else
                    button.btn(type="submit") Add Course